---
import Layout from "../components/layout.astro";

const cursos = await Astro.glob("./cursos/*.md");
---

<Layout
    pageTitle="Cursos"
    pageDesscriptions="Pagina de lo ultimo en frameworks y noticias"
>
    <nav class="categoria">
        <h1>CATEGORIAS</h1>
        <div id=" myBtnContainer" class="flex">
            <button class="active btn">All</button>
            <button class="btn">Programación</button>
            <button class="btn">Diseño</button>
            <button class="btn">Modelado 3D</button>
            <button class="btn">Electrónica</button>
        </div>
    </nav>
    <article class="cursos-flex">
        {
            cursos.map((curso) => {
                return (
                    <div class="card">
                        <div class="card-image-container">
                            <img src={curso.frontmatter.image} alt="" />
                        </div>
                        <a class="card-title" href={curso.url} class="targuet">
                            {curso.frontmatter.title}
                        </a>
                        <p class="card-des">{curso.frontmatter.description}</p>
                        <div class="btn-tag">
                            <p class="tag">{curso.frontmatter.categoria}</p>
                            <a class="btn-card" href={curso.url}>
                                Ver curso
                            </a>
                        </div>
                    </div>
                );
            })
        }
    </article>
</Layout>
